header {
    width: 1200px;
    height: 100px;
    background-color: #b7dbc9;
    border-radius: 10px;
    margin: 0 auto;
}

section {
    width: 1200px;
    height: 400px;
    background-color: #dfebc6;
    border-radius: 10px;
    margin: 0 auto;
}

footer {
    width: 1200px;
    height: 100px;
    background-color: #f7d4ba;
    border-radius: 10px;
    margin: 0 auto;
}

p a {
    text-decoration: none;
    font-size: 20px;
    color: #b7dbc9;
}

p {
    display: block;
    text-align: center;
    margin: 0px auto;
    position: relative;
    top: 0px;
}