* {
    padding: 0;
    margin: 0;
}

.id {
    width: 1400px;
    height: 600px;
    margin: 0 auto;
}

header {
    width: 1400px;
    height: 100px;
    background-color: #3b576b;
    border-radius: 10px;
    margin: 0 auto;
}

.head {
    width: 1400px;
    height: 50px;
    background-color: #b3d0c9;
    border-radius: 10px;
    margin: 0 auto;
}

aside {
    background-color: #dfdce6;
    width: 320px;
    height: 320px;
    border-radius: 10px;
    float: left;
}

.main {
    background-color: #d2b15c;
    width: 780px;
    height: 320px;
    border-radius: 10px;

    float: left;
}

.aside-right {
    background-color: #dfdce6;
    width: 300px;
    height: 320px;
    border-radius: 10px;
    float: left;
}

footer {
    width: 1400px;
    height: 100px;
    background-color: #3b576b;
    border-radius: 10px;
    float: left;
}

p a {
    text-decoration: none;
    font-size: 20px;
    color: #b7dbc9;
}

p {
    display: block;
    text-align: center;
    margin: 0px auto;
    position: relative;
    top: 50px;
}